<h2>Profile Component</h2>

<h2>${properties.firstName}</h2>
<div>FN | LN | Age | Group</div>
<div data-sly-use.pro="com.myproject.aem.core.models.impl.ProfileSlingModel">
	<h2>First Name: ${pro.firstName}</h2>
    <h2>Last Name: ${pro.lastName}</h2>
    <h2>Profile Description : ${pro.getProfileDesc}</h2>
    <h2>Age: ${pro.age}</h2>
	<div data-sly-list.item="${pro.projects.listChildren}">
    	<h2>Project Name: ${item.projectName}</h2>
        <h2>Project Roles: ${item.roles}</h2>
    </div>
</div>