
<div data-sly-test.author="${wcmmode.edit || wcmmode.design}">[Configure Profile Component]</div>

<h2 data-sly-test.firstName="${properties.firstName}"> ${firstName}'s Profile </h2>

<div data-sly-use.projectItems="com.adobe.aem.guides.mysite.core.models.ProfileProjectsService">
	<ul data-sly-list="${projectItems.projectItems}">
		<li>pName: ${item.projectName}</li>
        <li>PRoles: ${item.roles}</li>
    </ul>

</div>
<br/>
<br/>
<div data-sly-use.profile="com.adobe.aem.guides.mysite.core.models.ProfileImpl">
    <div class="profile">
        <h2 class="first-name">First Name: ${profile.firstName}</h2>
        <h2 class="last-name">Last Name: ${profile.lastName}</h2>
        <p class="profile-description">Profile Description: ${profile.profileDescription}</p>
		<h2 class="age">Age: ${profile.age}</h2>
        <h2 class="department">Department: ${profile.department}</h2>
        <h2 class="skill-set">Skillset: ${profile.skills}</h2>
        <ol class="skill-set-list" data-sly-list.skill="${profile.skills}">
			<li> <h2>${skill}</h2> </li>
        </ol>
        <div class="projects" data-sly-list="${profile.projects.listChildren}">
        	<h2 class="project-name">Project Name: ${item.projectName}</h2>
        	<h2 class="project-roles">Project Roles: ${item.roles}</h2>
    	</div>
        <div data-sly-list="${profile.booksDetails.listChildren}">

                <h2>Book Name : ${item.bookname}</h2> 
        
                <h2>Book Subject : ${item.booksubject}</h2> 

                <h2>Book PublishYear : ${item.publishyear}</h2>
        </div>
    </div>
</div>
<br/>

<!-- Practice Examples -->

<p class="${properties.class}"> \${properties.class} some text</p>
<h2>\${currentPage.title}: ${currentPage.title} \${currentPage['title']}: ${currentPage['title']}  \${currentPage["title"]}: ${currentPage["title"]} </h2>

<p> All the content to be dragged and dropped by author goes here </p>

<h2> Logical AND: ${firstName && varOne} </h2>

<h2> Logical OR: ${firstName || varOne} </h2>

<div data-sly-text="${properties.profileDesc}" >
	Description no USe
</div>


<h1>Summary Page</h1>

<div data-sly-test.showReturns="${x || y }">Returns Data</div>
<div data-sly-test="${ !showReturns}">Click here to view Returns Data</div>

<ul data-sly-list="${ currentPage.listChildren}">
<li> <a href="${ item.path }.html">${ item.title }</a> </li>
</ul>

<div data-sly-list.prop="${ properties }">
	<div>${ propList.count}) ${prop} :: ${ properties[prop] }</div>
</div>

<div data-sly-use.parentinfo="parenthelper.js">
	<h2>Name: ${parentinfo.name}</h2>
	<h2>Title: ${parentinfo.title}</h2>
</div>

<div data-sly-use.shelper="${'stringhelper.js' @ str='Sightly'}">
    <h2> Word 'Sightly' is ${shelper.length} characters long. </h2>
</div>

</br>
</br>
<h1>OSGI Service Demo</h1>

<div data-sly-use.service="com.adobe.aem.guides.mysite.core.models.ServiceDemo">
    ==================== USING Service and Iterator =============
    <div data-sly-list.item="${service.pagesList}">
        <p> Page ${itemList.count} Title : <b>${item.title} </b></p>
    </div>
</div>

<h1>OSGi Configuration Demo</h1>
<div data-sly-use.osgiconfig="com.adobe.aem.guides.mysite.core.models.OSGiConfigDemo">

    <div><p> Service Name : <b>${osgiconfig.serviceName}</b></p></div>
    <div><p> Service Count : <b>${osgiconfig.serviceCount}</b></p></div>
    <div><p> Live Data : <b>${osgiconfig.liveData}</b></p></div>
    <div><p> Run Mode : <b>${osgiconfig.runModes}</b></p></div>
    <div><b>Countries</b></div>
    <ul data-sly-list="${osgiconfig.countries}">
        <li>${item}</li>
    </ul>
    
    <div> </div>
    
    <div><p> Service ID : <b>${osgiconfig.serviceId}</b></p></div>
    <div><p> Service Name : <b>${osgiconfig.serviceNameModule}</b></p></div>
    <div><p> Service URL : <b>${osgiconfig.serviceURL}</b></p></div>
    

    <div> </div>
    
    <div data-sly-list="${osgiconfig.allOSGiConfigs}">
        ------Config # <b>${itemList.count}</b>-----
        <div><p> Config ID: <b>${item.configID}</b></p></div>
        <div><p> Service Name: <b>${item.serviceName}</b></p></div>
        <div><p> Service URL : <b>${item.serviceURL}</b></p></div>
    </div>
</div>
