<h2 data-sly-test.firstName="${properties.firstName}"> ${firstName}'s Profile </h2>

<div data-sly-use.childItems="com.adobe.aem.guides.mysite.core.models.ProfileProjectsService">
	<ul data-sly-list.item="${childItems.projectItems}">
		<li>pName: ${item.projectName}</li>
        <li>PRoles: ${item.rolesAndResponsiblities}</li>
    </ul>

</div>
<br/>
<br/>
<div data-sly-use.profile="com.adobe.aem.guides.mysite.core.models.ProfileImpl">
    <div>
        <h2>First Name: ${profile.firstName}</h2>
        <h2>Last Name: ${profile.lastName}</h2>
        <h2>Profile Description: ${profile.profileDescription}</h2>
		<h2>Age: ${profile.age}</h2>
        <h2>Department: ${profile.department}</h2>
        <h2>Skillset: ${profile.skills}</h2>
        <ol data-sly-list.skill="${profile.skills}">
			<li> <h2>${skill}</h2> </li>
        </ol>
        <div data-sly-list="${profile.projects.listChildren}">
        	<h2>Project Name: ${item.projectName}</h2>
        	<h2>Project Roles: ${item.roles}</h2>
    	</div>
    </div>
</div>
<br/>

<!-- Practice Examples -->

<p class="${properties.class}"> \${properties.class} some text</p>
<h2>\${currentPage.title}: ${currentPage.title} \${currentPage['title']}: ${currentPage['title']}  \${currentPage["title"]}: ${currentPage["title"]} </h2>

<p> All the content to be dragged and dropped by author goes here </p>

${true} ${'abcdef'} ${"abcdef"}

<h2> Logical AND: ${firstName && varOne} </h2>

<h2> Logical OR: ${firstName || varOne} </h2>

 ${myVar @ optOne='Hello'}

<div data-sly-text="${properties.profileDesc}" >
	Description no USe
</div>


<h1>Summary Page</h1>
<div data-sly-test="${true}" >
	Detailed description…
</div>

<div data-sly-test.showReturns="${x || y }">Returns Data</div>
<div data-sly-test="${ !showReturns}">Click here to view Returns Data</div>

<ul data-sly-list="${ currentPage.listChildren}">
<li> <a href="${ item.path }.html">${ item.title }</a> </li>
</ul>

<div data-sly-list.prop="${ properties }">
	<div>${ propList.count}) ${prop} :: ${ properties[prop] }</div>
</div>

<div data-sly-use.parentinfo="parenthelper.js">
	<h2>Name: ${parentinfo.name}</h2>
	<h2>Title: ${parentinfo.title}</h2>
</div>

<div data-sly-use.shelper="${'stringhelper.js' @ str='Sightly'}">
    <h2> Word 'Sightly' is ${shelper.length} characters long. </h2>
</div>

<div data-sly-use.evenodd="${'EvenOdd' @ number='11'}">
	<span data-sly-test='${evenodd.isEven}'>Number is even</span>
	<span data-sly-test='${!evenodd.isEven}'>Number is odd</span>
</div>




