.get-call {
  background-color: linen;
  margin-left: 40px;
          padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

#btn_submit{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

#pagetitle{

    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}