
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-call="${clientlib.css @ categories='mysiteform.base'}" />

<div class="get-call">
    <form class="form-group first_division">
        <button type="button" id="btn_submit">Get Page Title</button><br><br>
        <!-- <input id="pagetitle" type="text"></input> -->
    </form>
</div>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-call="${clientlib.js @ categories='mysiteform.base'}" />